# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
archive/

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Checkpoints directory (our manual backups)
checkpoints/
.windsurfrules
data/1-s2.0-S1474034608000281-main.pdf
data/AIChE Journal - 2013 - Karunanithi - Computer‐aided design of tailor‐made ionic liquids.pdf
data/density-yeshreeve.pdf
data/heatcapacity-Chen.pdf
data/The Arrhenius Equation Revisited.pdf
archive/
